<article class="resume-item person">
  <h1 class="title"> <i class="iconfont resume-item"></i> Personal Information </h1>
  <div class="content">
    <div class="items">
      <ul.b>
        <div class="big">
          <li><span><b>Name:</b></span>  {{site.aboutme.name}}</li>
          <li><span><b>M/F:</b></span>  {{site.aboutme.sex}}</li>
          <li><span><b>Nationality:</b></span>  {{site.aboutme.nationality}}</li>
          <li><span><b>Birth:</b></span>  {{site.aboutme.birth}}</li>
          <li><span><b>Phone:</b></span>  {{site.aboutme.phone}}</li>
          <li><span><b>Email:</b></span>  {{site.aboutme.email}}</li>
          <li><span><b>Address:</b></span>  {{site.aboutme.address}}</li>
        </div>
      </ul.b>
    </div>
    <div class="items">
      <img src="assets/img/profile.jpg">
    </div>
  </div>
</article>


